{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Reset Your Password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Enter your email address</label>
            {{ form.email|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
    </form>
</div>
{% endblock %}
