{% extends 'base.html' %}
{% load static %}

{% block title %}home{% endblock %}


{% block banner-slider %}
<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{% static 'assets/img/banner/b3.jpg' %}" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="banner image">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'assets/img/banner/b1.jpg' %}" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="banner image">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'assets/img/banner/b2.jpg' %}" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="banner image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock banner-slider %}



{% block product-details %}
    <div class="containner mt-4">
        <h2 class="text text-center">Product details</h2>
        <p class="text">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
{% endblock product-details %}



{% block card-image %}
<div class="container my-5">
    <h2 class="mb-4">All Products</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="{{ product.product_image.url }}" class="card-img-top" style="height:300px;" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text text-success">{{ product.selling_price }} ৳</p>
                    <a href="{% url 'productdetails' product.pk %}" class="btn btn-primary btn-sm">View Details</a>
                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-info btn-sm">🛒 Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
  
{% endblock card-image %}




{% block content %}

{% endblock %}



